body {
    font: 14px "Century Gothic", Futura, sans-serif;
    width: 70%;
    margin: 0 auto;
    padding-top: 2em;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.kbd-navigation .square:focus {
    background: #ddd;
}